<ion-header class="custom-header">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="school"></ion-icon>
    </ion-buttons>
    <ion-title class="custom-title">Escolas</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="custom-padding">

  <ion-searchbar (ionChange)="filtrarEscolas($event.target.value ?? '')" 
  (ionClear)="filtrarEscolas('')"></ion-searchbar>

  <ion-grid>
    <ion-row>
      
      <ion-col size-xs="12" *ngFor="let escola of escolasFiltradas">
        <ion-card class="custom-card" (click)="abrirDetalhesEscola(escola)">
          <ion-card-header>
            <ion-card-title><b>{{ escola.noEntidade }}</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Código INEP - {{escola.coEntidade}}
          </ion-card-content>
          <ion-button (click)="marcarComoFavorita(escola.coEntidade, $event)" fill="outline">Favoritar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
