.custom-title {
    text-align: center;
    font-size: 22px;
    height: 60px;
    margin-right: 55px;
  }

.custom-card-title{
    font-size: 20px;
    margin-bottom: -20px;
    text-align: center;
}

ion-back-button{
    height: 60px;
}

.custom-h2{
  text-align: center;
}