.custom-title {
  text-align: center;
}

.custom-header {
    min-height: 50px; /* Defina a altura desejada */
  }


.custom-padding {
    padding-top: 50px; /* Ajuste a altura conforme necessário */
}

.card-title {
  font-size: 1em; // Ajuste o tamanho da fonte conforme necessário
}

ion-card {
  --ion-card-content-padding: 10px; // Reduz o padding dentro do card
  margin: 3px; // Espaçamento entre os cards
}

.custom-card {
  height: 160px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-card-header,
  ion-card-content {
    overflow: hidden;
    margin-bottom: 0; /* Remove a margem abaixo do conteúdo do card */
  }

  ion-button {
    width: auto; /* Mantém a largura do botão ajustada ao conteúdo */
    align-self: center; /* Centraliza o botão no card */
    margin-top: -10px; /* Puxa o botão ligeiramente para cima */
    margin-bottom: 5px; /* Pequena margem na parte inferior para evitar colar no fim do card */
  }
}

ion-card-title {
  font-size: 15px;
  margin-top: 10px;
}