.custom-title {
  text-align: center;
  font-size: 22px;
  height: 60px;
  margin-left: -55px;
}

ion-icon[name="school"] {
  color: white; 
  font-size: 24px;
  margin-left: 10px; 
}

.custom-padding ion-item {
  align-items: center; /* Alinha todos os elementos verticalmente */
}

ion-card {
  --ion-card-content-padding: 10px; // Reduz o padding dentro do card
  margin: 3px; // Espaçamento entre os cards
}

.custom-card {
  height: 140px; 
  width: 95%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-card-header{
    overflow: hidden;
  }
  
  ion-card-content {
    overflow: hidden;
    margin-top: -40px;
  }

  ion-button {
    width: auto; /* Mantém a largura do botão ajustada ao conteúdo */
    align-self: center; 
    margin-top: -30px; 
    margin-bottom: 13px; 
  }
}

ion-card-title {
  font-size: 15px;
  margin-top: 0px;
}

